[Unit]
Description=Docker Swarm Cluster Frontend
Requires=early-docker.service serf.service
After=early-docker.service serf.service
[Service]
Environment=DOCKER_HOST=$early_docker
ExecStartPre=/usr/bin/docker rm swarm
ExecStart=/usr/bin/docker run --name=swarm --net=host swarm manage $($TEAM serf nodes -tag swarm=true)
